### Defines a locomotion problem for the mini cheetah qudruped

# Initial state
q_init : [ 0.0, 0.0, 0.29,        # base orientation
           0.0, 0.0, 0.0, 1.0,    # base position
           0.0,-0.8, 1.6,         # fl
           0.0,-0.8, 1.6,         # fr
           0.0,-0.8, 1.6,         # hl
           0.0,-0.8, 1.6]         # hr

v_init : [0, 0, 0,
          0, 0, 0, 
          0, 0, 0,
          0, 0, 0,
          0, 0, 0,
          0, 0, 0]

# Cost Weights
w_q : [10, 10, 50,
       1, 1, 1,
       0, 0, 0,
       0, 0, 0,
       0, 0, 0,
       0, 0, 0] # dimension equal to nv
      
w_v : [1, 1, 1,
       1, 1, 1, 
       0.1, 0.1, 0.1,
       0.1, 0.1, 0.1,
       0.1, 0.1, 0.1,
       0.1, 0.1, 0.1]

w_u : [0.01, 0.01, 0.01,
       0.01, 0.01, 0.01,
       0.01, 0.01, 0.01,
       0.01, 0.01, 0.01]  # only for the actuated joints

w_q_term : [10, 10, 10,
            10, 10, 10,   
            1, 1, 1,
            1, 1, 1,
            1, 1, 1,
            1, 1, 1]  # dimension equal to nv

w_v_term : [1, 1, 1,
            1, 1, 1, 
            0.1, 0.1, 0.1,
            0.1, 0.1, 0.1,
            0.1, 0.1, 0.1,
            0.1, 0.1, 0.1]

# Contact model parameters. 
contact_stiffness : 2000    # normal force stiffness, in N/m
dissipation_velocity : 0.1  # Hunt & Crossley-like model parameter, in m/s.

# Amount of smoothing (and therefore force at a distance) to apply when
# computing normal forces. This is equivalent to an analytical version of
# randomized smoothing, assuming that signed distances are drawn from a logistic
# distirbution with the smoothing factor as the scale parameter. Higher values
# mean more smoothing and more force at a distance. 
smoothing_factor : 0.01

# Friction
friction_coefficient : 1.0  # Coefficient of friction.
stiction_velocity: 0.5     # Regularization velocity, in m/s.

# MPC settings
timestep : 0.05
horizon : 100

# Solver-related quantities
TOL : 1e-4
mu_init : 1e-8
max_iters : 1
num_threads : 4
first_iters : 100